<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Dashboard</title>
</head>
<body>
    <!-- build a dashboard show all users page and admin dashboard. -->
     <!-- create a branch and make sure to put the work in a template. -->

      <div class="navbar">
    <h2>Admin Dashboard</h2>
    <p>Welcome Admin </p>
  </div>

  <div class="container">
    <div class="sidebar">
      <a href="index.html" class="active">Dashboard</a>
      <a href="users.html">Users</a>
    </div>

    <div class="main">
      <h1>Dashboards</h1>

      <div class="cards">
        <div class="card">
          <h3>Total Users</h3>
          <p id="totalUsers">0</p>
        </div>
      </div>
    </div>
  </div>

  <script src="js/script.js"></script>
    
</body>
</html>
