<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Users</title>
</head>
<body>
     <div class="navbar">
    <h2>Users Dashboard</h2>
    <p>Users Page</p>
  </div>

  <div class="container">
    <div class="sidebar">
      <a href="index.html">Dashboard</a>
      <a href="users.html" class="active">Users</a>
    </div>

    <div class="main">
      <h1>All Users</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody id="userTable"></tbody>
      </table>
    </div>
  </div>

  <script src="js/script.js"></script>
    
</body>
</html>