.ret {
    background-color: #333333;
    border: none;
    padding-left: 7cm;
    color: white;
}

.ret:hover {
    background-color: gray;
    border: none;
    padding-left: 7cm;
}

.rer {
    background-color: #333333;
    border: none;
    color: white;

}

.rer:hover {
    background-color: gray;
    border: none;

}

header {
    background-color: #333333;
}

.title {
    color: white;
    padding-left: 7cm;
    width: 50rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.blogroom {
    padding-left: 7cm;
    width: 30rem;
 
}

.container {
    background-color: #333333;
}

.indian {

    display: inline-flex;
    width: 3rem;
    padding-left: 13cm;




}

.Camello {
    padding-left: 12cm;
    font-size: small;
}

.Camello2 {
    padding-left: 11.7cm;
    font-size: small;
    color: gray;
}

.Camello3 {
    padding-left: 12cm;
    font-size: small;
    color: gray;
}

.about {
     padding-left: 7cm;
    color: gray;
    font-size: small;
    width: 35rem;
    font-weight: lighter;

}